In [1]:
import numpy as np
import pandas as pd
import scipy
from scipy import stats

In [2]:
%pylab inline

Populating the interactive namespace from numpy and matplotlib

## Задание 4

In [8]:
mu_0 = 9.5
sigma = 0.4
n = 160
X_mean = 9.57

Поскольку $\sigma$ известно, используем $Z$-критерий. Статистика $$Z(X^n) = \dfrac{\bar{X} - \mu_0}{\sigma / \sqrt{n}}$$

$H_0$: Средний уровень кальция в популяции совпадает с 9.5

$H_1$: Средний уровень кальция в популяции отличается от 9.5 *(двусторонняя альтернатива)*

In [9]:
Z = (mean - mu) / (sigma  / np.sqrt(n))
print(Z)

2.213594362117875

Нулевое распределение для $Z$-статистики: $Z(X^n) \sim N(0, 1)$, поэтому в зависимости от альтернативы достигаемый уровень значимости считается следующим образом:
- $H_1: \mu < \mu_0 \Rightarrow p = F_{N(0, 1)}(Z)$
- $H_1: \mu > \mu_0 \Rightarrow p = 1 - F_{N(0, 1)}(Z)$
- $H_1: \mu \neq \mu_0 \Rightarrow p = 2(1 - F_{N(0, 1)}(|Z|))$

In [12]:
p = 2 * (1 - stats.norm.cdf(Z))
print(p.round(4))

0.0269

## Задание 6

In [17]:
diamonds = pd.read_csv('diamonds.txt', sep = '\t')

In [18]:
diamonds.head()

   carat  depth  table  price     x     y     z
0   0.23   61.5   55.0    326  3.95  3.98  2.43
1   0.21   59.8   61.0    326  3.89  3.84  2.31
2   0.23   56.9   65.0    327  4.05  4.07  2.31
3   0.29   62.4   58.0    334  4.20  4.23  2.63
4   0.31   63.3   58.0    335  4.34  4.35  2.75

In [20]:
from sklearn.model_selection import train_test_split

In [26]:
y = diamonds.price
X = diamonds[diamods.columns.drop('price')]

In [27]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 1)

In [28]:
from sklearn.linear_model import LinearRegression

In [37]:
model_lr = LinearRegression()
model_lr = model_lr.fit(X_train, y_train)
y_predicted_lr = model_lr.predict(X_test)

In [44]:
sample_1 = abs(y_test - y_predicted_lr)

In [39]:
from sklearn.ensemble import RandomForestRegressor

In [40]:
model_rfr = RandomForestRegressor(n_estimators = 10, random_state = 1)
model_rfr.fit(X_train, y_train)
y_predicted_rfr = model_rfr.predict(X_test)

In [47]:
sample_2 = abs(y_test - y_predicted_rfr)

$H_0$: обе модели имеют одинаковое среднее качество предсказаний

$H_1$: модели имеют различное среднее качество предсказаний (двусторонняя альтернатива)

В данном случае выборки связанные. Нулевая гипотеза $H_0$: $\mu_1 = \mu_2$, альтернатива $H_1$: $\mu_1 \neq \mu_2$. Статистика $$ T(X_1^n, X_2^n) = \dfrac{\bar{X}_1 - \bar{X}_2}{S / \sqrt{n}}, $$ $$S^2 = \dfrac{1}{n-1} \sum\limits_{i = 1}^{n}(D_i - \bar{D})^2, D_i = X_{1i} - X_{2i}.$$ Нулевое распределение $$T(X_1^n, X_2^n) \sim St(n - 1)$$

Достигаемый уровень значимости для $t$-критерия Стьюдента считается абсолютно так же, как и для $Z$-критерия. В зависимости от типа альтернативы нужно выбрать одно из трех выражений для достигаемого уровня значимости: $$ p = \begin{cases} F_{St(n-1)}(T), & H_1: \mu_1 < \mu_2 \\ 1 - F_{St(n-1)}(T), & H_1: \mu_1 > \mu_2 \\ 2 (1 - F_{St(n-1)}(|T|)), & H_1: \mu_1 \neq \mu_2 \end{cases} $$

In [61]:
stats.ttest_rel(sample_1, sample_2, alternative = 'two-sided')

Ttest_relResult(statistic=13.017729783878826, pvalue=1.6551745751356977e-38)

In [63]:
from statsmodels.stats.weightstats import *

In [65]:
DescrStatsW(sample_1).data

array([ 214.42235621, 1016.46053685,   41.87871693, ..., 2171.49180326,
        103.82818096,  159.32529706])

In [68]:
print("95%% confidence interval: [%f, %f]" % DescrStatsW(sample_1 - sample_2).tconfint_mean())

95% confidence interval: [74.287245, 100.624521]