In [1]:
import pandas as pd
import numpy as np

In [2]:
illiteracy = pd.read_csv('illiteracy.txt', sep = '\t')

In [4]:
illiteracy.head()

   Country  Illit  Births
0  Albania   20.5    1.78
1  Algeria   39.1    2.44
2  Bahrain   15.0    2.34
3   Belize    5.9    2.97
4    Benin   73.5    5.60

In [5]:
illiteracy.describe()

           Illit     Births
count  94.000000  94.000000
mean   31.473404   3.664787
std    22.348622   1.585262
min     5.400000   0.880000
25%    13.325000   2.392500
50%    22.650000   3.370000
75%    49.325000   4.960000
max    90.200000   7.670000

In [13]:
illit_births_corr = illiteracy[['Illit', 'Births']].corr(method = 'pearson')

In [15]:
illit_births_corr

           Illit    Births
Illit   1.000000  0.768663
Births  0.768663  1.000000

In [16]:
corr = illit_births_corr['Illit']['Births'].round(4)
corr

0.7687

In [17]:
illit_births_corr_spearman = illiteracy[['Illit', 'Births']].corr(method = 'spearman')

In [18]:
illit_births_corr_spearman

           Illit    Births
Illit   1.000000  0.752962
Births  0.752962  1.000000

In [19]:
corr_spearman = illit_births_corr_spearman['Illit']['Births'].round(4)
corr_spearman

0.753